BattleShip/BattleShip/Service References/BattleShipService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfRegister" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="GameStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfGame" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GameStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameStatistic" nillable="true" type="tns:GameStatistic" />
  <xs:complexType name="ArrayOfGameStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameStatistic" nillable="true" type="tns:GameStatistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameStatistic" nillable="true" type="tns:ArrayOfGameStatistic" />
</xs:schema>